#use python 3.10 version only, 2024.8
langchain-community
langchain-cli
openai
pypdf
PyPDF2
tiktoken
pinecone-client
optimum
python-dotenv
#cchardet
chromadb
Flask
ctransformers
bitsandbytes
scipy
accelerate
unstructured
fastapi
pydantic
streamlit
unstructured[pdf]
faiss-gpu
